@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');

$green: #207549;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #3d3d3d;
  position: relative;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  strong {
    background: lighten($green, 60%);
    display: inline-block;
    box-shadow: 5px 3px 0 lighten($green,60%), -5px -3px 0 lighten($green,60%), 5px -3px 0 lighten($green,60%), -5px 3px 0 lighten($green,60%);
    margin: 0 2px;
  }
}
.wizard {
  overflow: hidden;
}
.keuzewijzer {
  overflow: hidden;
  list-style: none none;
  width: 1000%;
  display: flex;
  align-items: stretch;
  transition: transform 0.3s;
  &__slide {
    padding-top: 5px;
    display: block;
    position: relative;
    width: 10%;
    text-align: center;
    padding-bottom: 80px;
  }
  &--disabled {
    pointer-events: none;
  }
}
.buttons {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  a {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    width: 150px;
    margin: 0 5px;
    background: #FFFFFF;
    border: solid 1px $green;
    color: $green;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 2px;
    cursor: pointer;
    &:hover, &:focus {
      background: $green;
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}
.message {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  opacity: 0;
  transition: all 0.3s;
  &__inner {
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    border-top: solid 5px $green;
    background: #FFFFFF;
    padding: 30px;
    width: 300px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    transition: all 0.3s 0.2s;
    text-align: center;
    border-radius: 3px;
    a {
      color: $green;
    }
  }
  &.is-open {
    opacity: 1;
    z-index: 1000;
    .message__inner {
      top: 50%;
    }
  }
}
